{% extends 'base.html' %}

{% load static %}

{% block title %} Injury History {% endblock %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }

    h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #007bff;
        color: white;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    @media (max-width: 600px) {
        th, td {
            font-size: 14px;
            padding: 8px;
        }
    }
</style>

<h1>Injury History</h1>
<table>
    <thead>
        <tr>
            <th>Player</th>
            <th>Injury Type</th>
            <th>Injury Date</th>
            <th>Out For</th>
            <th>Recovery Programme</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        {% for injury in injury_history %}
        <tr>
            <td>{{ injury.player_injured.full_name }}</td>
            <td>{{ injury.injury_type }}</td>
            <td>{{ injury.injury_date }}</td>
            <td>{{ injury.out_for }}</td>
            <td>{{ injury.recovery_programme }}</td>
        </tr>
            {% endfor%}

    </tbody>
    </table>
{% endblock %}