{% extends 'base.html' %}

{% load static %}

{% block title %}Player Profile{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/player_prof.css' %}">
<style>
    .profile-header {
    
    background-image: url("{% static 'images/hero_sec_bg.jpeg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #333;
    color: white;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 4px solid #d4edda;
 
}



</style>
<!-- Header Section -->
<div class="profile-header">

    <img src="{{ result.profile_photo.url }}" alt="Player Image">
    <div class="info">
        <p class="jersey-number">{{ result.jersey_number }}</p>
        <h1>{{ result.full_name }}</h1>
        <p class="position">{{ result.position }}</p>
        <!-- <div class="stats">
            <div>
                <span>{{ stat.matches }}</span>
                <label>Matches Played</label>
            </div>
            <div>
                <span>{{ stat.goals }}</span>
                <label>Goals</label>
            </div>
            <div>
                <span>{{ stat.assists }}</span>
                <label>Assists</label>
            <
        </div> -->
    </div>
</div>

<!-- Details Section -->
<div class="card-container">
    <!-- Personal Details -->
    <div class="card">
        <h2>Personal Details</h2>
        <ul>
            <li><i class="fa fa-user"></i><Strong>Full Name: </Strong>{{ result.full_name }}</li>
            <li><i class="fa fa-calendar"></i><strong>Date of Birth :</strong> {{ result.dob }}</li>
            <li><i class="fa fa-map-marker-alt"></i><strong>Address: </strong> {{ result.address }}</li>
            <li><i class="fa fa-phone"></i> <strong>Contact: </strong> {{ result.contact }}</li>
        </ul>
    </div>

    <!-- Career -->
    <div class="card">
        <h2>Stats</h2>
      
        <ul>
            <li><i class="fa fa-futbol"></i> <strong>Matches:</strong> {{ stat.matches }}</li>
            <li><i class="fa fa-futbol"></i> <strong>Goals:</strong> {{ stat.goals }}</li>
            <li><i class="fa fa-futbol"></i> <strong>Assists:</strong> {{ stat.assists }}</li>
            <li><i class="fa fa-futbol"></i> <strong>Saves:</strong> {{ stat.saves }}</li>
            <li><i class="fa fa-futbol"></i> <strong>Tackles:</strong> {{ stat.tackles }}</li>
        </ul>
        
        
    </div>
    
</div>
</div>


<div class="card-container">

    <div class="card">
        <h2>Workload</h2>
        <ul>
            <li><i class="fa fa-user"></i> <strong>Training Minutes:</strong> {{ work.training_minutes }}</li>
            <li><i class="fa fa-calendar"></i> <strong>Intensity:</strong> {{ work.intensity }}</li>
            <li><i class="fa fa-phone"></i> <strong>Training Workload:</strong> {{ work.training_workload }}</li>
            <li><i class="fa fa-map-marker-alt"></i> <strong>Match Minutes:</strong> {{ work.match_minutes }}</li>
            <li><i class="fa fa-phone"></i> <strong>Distance Covered:</strong> {{ work.distance }}</li>
            <li><i class="fa fa-phone"></i> <strong>Match Workload:</strong> {{ work.match_workload }}</li>
            <li><i class="fa fa-phone"></i> <strong>Total Workload:</strong> {{ work.total_workload }}</li>
            <li><i class="fa fa-phone"></i> <strong>Last Updated:</strong> {{ work.last_updated }}</li>
        </ul>
        
    </div>
   
    <div class="card">
        <h2>Injury</h2>
      
       
            {% if active_injury %}
            <ul>
                <li><strong>Type of Injury:</strong> {{ active_injury.injury_type }}</li>
                <li><strong>Injury Date:</strong> {{ active_injury.injury_date }}</li>
                <li><strong>Out For:</strong> {{ active_injury.out_for }}</li>
                <li><strong>Recovery Programme:</strong> {{ active_injury.recovery_programme }}</li>
            </ul>
            {% else %}
            <p>No active injuries for this player.</p>
            {% endif %}
    
        
    </div>
    
</div>


{% endblock %}